{% extends 'core/module.html' %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% block content %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">

    <h1 class="title">
        {% if user.is_staff %}
            Bienvenido Docente {{ user.username }}
        {% else %}
            Bienvenido Estudiante {{ user.username }}
        {% endif %}
    </h1>
    
    <div class="button-container">
        {% if user.is_staff %}
            <a href="{% url 'lista_de_usuarios' %}" class="custom-button">
                <i class="icon fa fa-users"></i>
                <span>Lista de Usuarios</span>
            </a>
        {% endif %}
        <a href="{% url 'listado_ensayo_active' %}" class="custom-button">
            <i class="icon fa fa-list-alt"></i>
            <span>Lista de Ensayos</span>
        </a>
        <a href="{% url 'cambiar_contraseña_usuario' %}" class="custom-button">
            <i class="icon fa fa-cog"></i>
            <span>Configuración de Contraseña</span>
        </a>
    </div>

{% endblock %}
