{% extends 'core/module.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h3>Parámetros del Ensayo</h3>
<div class="container">
<ul>
    <li>Código de Ensayo: {{ ensayo.codigo_ensayo }}</li>
    <li>Nombre: {{ ensayo.nombre_ensayo }}</li>
    <li>Estado: {{ ensayo.estado_ensayo }}</li>
    <li>Fecha: {{ ensayo.fecha_ensayo }}</li>
</ul>

    <h2>Detalles del Tiempo ID: {{ tiempo.tiempo_id }}</h2>

    <ul>
        <li>Valor: {{ tiempo.valor }}</li>
        <li>Velocidad: {{ tiempo.velocidad }}</li>
        <li>Fuerza: {{ tiempo.fuerza }}</li>
        <li>Espesor: {{ tiempo.espesor }}</li>
        <li>Time of Fly: {{ tiempo.time_of_fly }}</li>
        <li>ESD: {{ tiempo.esd }}</li>
        <li>Strain: {{ tiempo.strain }}</li>
        <li>Stress: {{ tiempo.stress }}</li>
        <li>Velocidad del Ensayo: {{ tiempo.velocidad_ensayo }}</li>
    </ul>
</div>
{% endblock %}
