{% extends 'core/module.html' %}
{% load static %}

{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
        <div class="titu">
            <h3 class='h2 medium text-blue'>Editar Ensayo</h3>
        </div>
        <div class="row"> 
            <div class="botones-4">
                <a href="{% url 'listado_ensayo_active' %}" class="button button--gray form-control custom-button" title="Volver a Lista">Volver</a>
            </div>  
        </div>
        <div class="container">
            <div class="col-12  mt-3">
                <form method="post" action="{% url 'ensayo_edit' ensayo_data.id %}">
                    {% csrf_token %}
                    <div class="titu-men">
                        <input type="hidden" value="{{ ensayo_data.id }}" name="ensayo_id" id="ensayo_id">
                        
                        

                        <div class="row"> 
                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">Botón Ver lista de datos</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>    

                        <div class="row"> 
                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">Nombre ensayista</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">Apellido ensayista</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">Rut ensayista</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>




                                <div class="col-12 col-sm-8 mb-3">
                                    <div class="casilla1">
                                        <label for="text" class="custom-label">Nombre ensayo</label>
                                    </div>
                                    <div class="dato1">
                                        <input type="text" name="nombre" value="{{ensayo_data.nombre_ensayo}}"   style="position: absolute;left: 10%;" class="custom-input"/>
                                    </div>
                            </div>
                            
                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">fecha ensayo</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">Estado ensayo (listado desplegable)</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}"  style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">Material ensayo</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">ancho material</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">largo material</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">espesor material</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-8 mb-3">
                                <div class="casilla2">
                                    <label for="text" class="custom-label">Velocidad ensayo</label>
                                </div>
                                <div class="dato2">
                                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly style="position: absolute;left: 10%;" class="custom-input"/>
                                </div>
                            </div>

                            <div class="botones-5">
                                <input type="submit" value="Crear Categoría" class="button button--gray form-control custom-button">
                            </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
