{% extends 'core/modules2.html' %}
{% load static %}

{% block content %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/historial.css' %}">
{% endblock %}
    <main role="main">
        <div class="header-container">
            <h3 class="header-title">Detalles del ensayo</h3>
        </div>
        <div class="div-container">
            <form method="post" action="{% url 'ensayo_edit' ensayo_data.id %}">
                {% csrf_token %}
                <input type="hidden" value="{{ ensayo_data.id }}" name="ensayo_id" id="ensayo_id">

                <div>
                    <label for="text">Botón Ver lista de datos</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Nombre ensayista</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Apellido ensayista</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Rut ensayista</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Codigo ensayo</label>
                    <input type="text" name="nombre" value="{{ensayo_data.nombre_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Nombre ensayo</label>
                    <input type="text" name="nombre" value="{{ensayo_data.nombre_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Estado ensayo (listado desplegable)</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Fecha ensayo</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Material ensayo</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Ancho material</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Largo material</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Espesor material</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Velocidad ensayo</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>

                <div>
                    <label for="text">Otro dato</label>
                    <input type="text" name="estado" value="{{ensayo_data.estado_ensayo}}" readonly />
                </div>
                <div>
                    <a href="{% url 'list_ensayo_active' %}" class="button-v">Volver</a>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
