{% extends 'core/module.html' %}
{% load static %}

{% block content %}
{% block extrahead %}

{% endblock %}
<main role="main">
    <div class="container col-12 mt-3">
        <div class="col-12 mt-3">
            <h3>Activado con exito</h3>
            <div class="mb-3">
                <a class="btn btn-primary" href="{% url 'list_ensayo_active' %}" role="button">Listados ensayos</a>
            </div>
        </div>
    </div>
</main>

<!-- Script para notificación y redirección -->

{% endblock %}
