{% extends 'core/module.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/grafico.css' %}">
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.0/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>{{ titulo }}</h1>

    <!-- Formulario para seleccionar el gráfico -->
    <form action="{% url 'grafico' ensayo_id=ensayo_id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="ensayo_id" value="{{ ensayo_id }}">

        <button type="submit" name="opcion" value="opcion1">Gráfico 1</button>
        <button type="submit" name="opcion" value="opcion2">Gráfico 2</button>
        <button type="submit" name="opcion" value="opcion3">Gráfico 3</button>

    </form>
    <a href="{% url 'listado_ensayo_active' %}" class="boton-volver">Volver a Lista de Ensayos</a>
    <div id="grafico" style="width: 800px; height:600px;"></div>



    <script>
        // Inicializa ECharts en el contenedor
        var grafico = echarts.init(document.getElementById('grafico'));

        var ejeX = {{ eje_x|safe }};
        var valoresY = {{ valores_y|safe }};

        var minY = Math.min(...valoresY);
        var maxY = Math.max(...valoresY);

        
        //Grafico
        var option = {
            title: {
                text: "{{ titulo }}"
            },
            tooltip: {},
            xAxis: {
                type: 'category',
                data: ejeX  // Datos del eje X
            },
            yAxis: {
                type: 'value',
                min: minY,  // Escala maxima automatica
                max: maxY   // Escala minima automatica
            },
            series: [{
                type: 'line',  // Tipo de gráfico: líneas
                data: valoresY  // Datos del eje Y
            }],
            // Configuración de dataZoom solo para el eje Y
            dataZoom: [
                {
                    type: 'inside',  //Usar scroll del mouse en eje Y
                    yAxisIndex: 0    
                },
                {
                    type: 'slider',  //slider para el control de visualizacion de datos en el eje Y
                    show: true,
                    yAxisIndex: 0    
                },
                {
                    type: 'inside',  //Usar scroll del mouse en eje X
                    xAxisIndex: 0    
                },
                {
                    type: 'slider',  //slider para el control de visualizacion de datos en el eje X
                    show: true,
                    xAxisIndex: 0    
                }
            ]
            
        };

        // Aplica la configuración al gráfico
        grafico.setOption(option);

    </script>
</body>
</html>
{% endblock %}
