{% extends 'core/modules2.html' %}

{% load static %}
{% load mathfilters %}
{% block content %}
{% block extrahead %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmarCambio(url) {
        Swal.fire({
            title: "¿Está seguro de que desea realizar esta acción?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sí, confirmar"
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the URL if confirmed
                window.location.href = url;
            }
        });
    }
</script>
{% endblock %}

<header class='mb-5'>
    <div class="row">
        <div class="col-12 col-sm-8 mb-3"  style="position: absolute; top: 8%; left: 15%; width: 100%; height: 60%;">        
            <h2 class='h2 medium text-blue'>Listado de ensayos</h2>
        </div>
    </div>
</header>
<div class="col-md-11" style="position: absolute; top: 20%; left: 15%; width: 40%; height: 60%; border-radius: 90px;">
    <div class="position-relative h-100">
        <div class="my-auto d-flex justify-content-end align-items-center h-100">
            <div class="feedback body--small normal"></div>
            <div class="col-md-11" style="position: absolute; top: 3%; left: 150%; width: 70%; height: 60%; border-radius: 90px;">
                <a href="{% url 'list_ensayo_deactivate' %}" class="button form-control">Ensayos Bloqueadas</a>
            </div>
        </div>
        <form method="post" action="" class='col-12 col-lg-6 input-container-search my-auto me-3'>
            {% csrf_token %}
            <input name="search" id="search" type="text" placeholder='Buscar ensayo'/>
            <button type="submit" class="button button--gray">
                <span class="material-icons-outlined">
                    search
                </span>
            </button>
        <form>       
    </div>
</div>

<div class="col-md-11 cont-table" style="position: absolute; top: 30%; left: 15%; width: 85%; height: 60%;">
    <table class="table table-user">
        <thead class="estilo-table">
            <tr>
                <th width="20%" scope="col">Codigo de Ensayo</th>
                <th width="20%" scope="col">Nombre de Ensayo</th>
                <th width="20%" scope="col">Fecha de Ensayo</th>
                <th width="20%" scope="col">Nombre ensayista</th>
                    <th width="15%" scope="col">Funciones</th>
                
            </tr>
        </thead>    
        <tbody>
            {% for ensayo in ensayo_list %}
                <tr class="all-lightgray">
                    <th scope="row"> {{ ensayo.codigo_ensayo}}</th>
                    
                    <th scope="row"> {{ ensayo.nombre_ensayo}}</th>
                    <th scope="row"> {{ ensayo.fecha_ensayo}}</th>
                    <th scope="row"> nombre ensayista</th>
                    <th scope="row">
                        <a href="{% url 'ensayo_ver' ensayo.id %}" class="btn btn-primary">Ver</a>

                    </th>
                    <th scope="row">
                        <a href="{% url 'ensayo_edit' ensayo.id %}" title="Editar" style="color: black;">
                            <i class="fas fa-edit" style="padding: 2px;"></i>
                        </a>
                        <a href="#" class="user-action" style="color: black;" onclick="confirmarCambio('{% url 'ensayo_deactivate' ensayo.id %}')">
                            <i class="fas fa-ban" style="padding: 2px;"></i>
                        </a>
                        <a href="{% url 'ensayo_ver' ensayo.id %}" title="Ver ensayo" style="color: black;">
                            <i class="fa-solid fa-eye" style="padding: 2px;"></i>
                        </a>
                    
                    </th> 
                    
                
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
<!-- Paginación -->
{% if ensayo_list.paginator.num_pages > 1 %}
    <div class="d-flex">
        <nav aria-label="Page navigation example" class="ms-auto">
            <ul class="pagination pagination-table">
                {% if ensayo_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ensayo_list.previous_page_number }}&search={{ search }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                    </li>                        
                {% endif %}
                {% for i in ensayo_list.paginator.page_range %}
                    {% if i >= ensayo_list.number|sub:2  and i < ensayo_list.number|add:3  %}
                        <li class="page-item {% if ensayo_list.number == i %}active{% endif %}">
                            <a class="page-link" href="?page={{ i }}&search={{ search }}">{{ i }}</a>
                        </li>                        
                    {% endif %}
                {% endfor %}
                {% if ensayo_list.has_next %}
                    <li class="page-item ">
                        <a class="page-link" href="?page={{ ensayo_list.next_page_number }}&search={{ search }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
    {% block scripts %}
    {% if messages %}
    <script>
        {% for message in messages %}
        Swal.fire({
            position: 'medium',
            icon: '{{ message.tags }}',
            title: '{{ message }}',
            showConfirmButton: true,
        });
        {% endfor %}
    </script>
    {% endif %}
    {% endblock %}
    {% endblock %}