{% extends 'core/base.html' %}
{% block content %}
<style>
  .left-column h1 {
      margin-top: 20%;
  }
  @media (max-width: 768px) {
  .left-column h1 {
      font-size: 2.5rem;
      margin-top: 25px;
  }
}
</style>
<div class="container">
  <div class="left-column">
      <h1>LIVEWAVE</h1>
  </div>
<div class="right-column">
  <fieldset>
      <legend>Recuperar Contraseña</legend>
      <h3>Correo enviado con exito</h3>
      <p>Revisa tu correo y sigue las instrucciones para restablecer tu contraseña.</p>
      <p>Inicia Sesion haciendo <a href="{% url 'home' %}"> Click aquí</a> </p>
  </fieldset>
</div>

{% endblock %}
